<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Mail</th>
                <th scope="col">Option</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let index = index">
                <th scope="row">{{user.id}}</th>
                <td>{{user.username}}</td>
                <td>{{user.mail}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-danger" (click)="deleteUser(user.id, index)">Delete</button>
                        <button class="btn btn-success" [routerLink]="['/users/', user.id]">Show</button>
                        <button class="btn btn-primary" [routerLink]="['/users/edit', user.id]">Edit</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>